body {
    background-color: black;
}

#name {
    font-family: 'bebas neue';
    font-size: 12em;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: round;
  }

.hamLine .top {
    stroke-dasharray: 40 121;
  }
  .hamLine .bottom {
    stroke-dasharray: 40 121;
  }
  .hamLine.active .top {
    stroke-dashoffset: -68px;
  }
  .hamLine.active .bottom {
    stroke-dashoffset: -68px;
  }