<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>victoriasin.dev</title>
  <link href="../styles/style.css" rel="stylesheet">
  <link href="../styles/home.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>

  <div class="name-wrap">
    <div id="v">V</div> 
    <div class="delay-text"> 
      <span id="ictoria">ictoria</span>
    </div>
    <div id="s"> S</div>
    <div class="delay-text"> 
      <span id="in">in</span>
    </div>
  </div>


  <!--https://codepen.io/bradtraversy/pen/vMGBjQ-->
  <div class="menu-wrap">
    <!--https://codepen.io/ainalem/pen/LJYRxz-->
    <svg id="burger" class=" ham hamRotate hamLine" viewBox="0 0 100 100" width="80">
      <path class="line top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20" />
      <path class="line middle" d="m 70,50 h -40" />
      <path class="line bottom"
        d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20" />
    </svg>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a class="menu-link" href="home.html">Home</a></li>
            <li><a class="menu-link" href="about.html">About</a></li>
            <li><a class="menu-link" href="resume.html">Resume</a></li>
            <li><a class="menu-link" href="portfolio.html">Portfolio</a></li>
            <li><a class="menu-link" href="contact.html">Contact</a></li>
            <li><a class="menu-link" href="blog.html">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <a class="arrow right" href="about.html"></a>

  <script src="../menu.js"></script>
</body>

</html>