body {
  background-color: black;
  margin: 0;
}

#name {
  font-family: 'bebas neue';
  font-size: 12em;
  white-space: nowrap;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*arrow style*/
.arrow {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 20px;
  margin: 0;
  position: absolute;
  top: 48%;
  left: 92%;
}

.right {
  transform: rotate(-45deg);
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.3s;
  transition-property: transform;
}

.right:hover, .right:focus, .right:active {
  transform: translateX(8px) rotate(-45deg);

}


@media(max-width:1020px) {
  #name {
    font-size: 9em;
  }

  .arrow {
    padding: 14px;
    top: 49%;
  }
}

@media(max-width:750px) {
  #name {
    font-size: 5em;
  }

  .arrow {
    padding: 12px;
  }
}